.App {
  text-align: center;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content:  space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(81, 85, 85);
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content:  space-around;
  align-items: center;
  list-style: none;
}